---
layout: layouts/base.hbs
section: post
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ machineDate date }}">{{ readableDate date }}</time> by {{ metadata.author.name }}
    </small>
  </p>

  {{{ layoutContent }}}

  {{#if tags}}
    <p>
      {{#each tags as |tag|}}
        {{#if (ne tag "post")}}
          <a href="{{ url (concat "/tags/" tag "/")}}" rel="tag">{{ tag }}</a>
        {{/if}}
      {{/each}}
    </p>
  {{/if}}

</article>

<nav>
  <a href="{{ url '/blog/' }}">← Blog index</a>
</nav>
